[package]
name = "repgrep"
version = "0.5.0"
description = "An interactive command line replacer for `ripgrep`."
homepage = "https://github.com/acheronfail/repgrep"
repository = "https://github.com/acheronfail/repgrep"
keywords = ["find", "replace", "ripgrep", "regex", "grep"]
categories = ["command-line-utilities", "text-processing"]
authors = ["acheronfail <acheronfail@gmail.com>"]
license = "Unlicense OR MIT OR Apache-2.0"
edition = "2018"
build = "build.rs"

[[bin]]
name = "rgr"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.31"
base64 = "0.12.2"
chardet = "0.2.4"
clap = "3.0.0-beta.1"
crossterm = "0.17.5"
either = "1.5.3"
encoding = "0.2.33"
safe-transmute = "0.11.0"
serde = { version = "1.0.80", features = ["derive"] }
serde_derive = "1.0.80"
serde_json = "1.0.32"
tui = { version = "0.9.5", default-features = false, features = ["crossterm"] }

[build-dependencies]
clap = { version = "3.0.0-beta.1" }
clap_generate = { version = "3.0.0-beta.1" }

[dev-dependencies]
pretty_assertions = "0.6.1"
tempfile = "3.1.0"
hex = "0.4.2"
